<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		<% include ./partials/nav.ejs %>
		<main>
			<div class="container">
				<div class="row">
				<% for(let i = 0; i < mockups.length; i++){ %>
					<!-- create card -->
		  				<div class="col s12 m6 xl4">
				  		<div class="card">
						  <div class="card-image waves-effect waves-block waves-light orange">
		  			      <img class="activator" src="<%=mockups[i].img%>">
		  			    </div>
		  			    <div class="card-content">
		  			      <span class="card-title activator grey-text text-darken-4"><%=mockups[i].name%><i class="material-icons right">more_vert</i></span>
		  			      <p><a href="/designers/<%=mockups[i].id%>/show" class="waves-effect waves-light btn orange">Select</a></p>
		  			    </div>
		  			    <div class="card-reveal">
		  			      <span class="card-title grey-text text-darken-4"><%=mockups[i].name%><i class="material-icons right">close</i></span>
		  			      <p><%=mockups[i].description%></p>
		  			    </div>
		  			  </div>
				  	</div>
				<% } %>
				</div>
			</div>
		</main>
	<% include ./partials/footer.ejs %>
	</body>
</html>
