<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		<% include ./partials/nav.ejs %>
		<main>
			<div class="container">
				<%	if (currentUser) { %>
				<h4 class="light-blue-text text-lighten-1">
				Welcome, <%= currentUser.first_name %> <%= currentUser.last_name %>!
				</h4>
				<p>You are viewing only your submissions. Would you like to view all mockups?</p>
				<p><a href="/" class="waves-effect waves-light btn orange">View All Mockups</a></p>
				<% } %>
				<div class="row">
				<% for(let i = 0; i < mockups.length; i++){ %>
					<!-- create card -->
					<% if(currentUser.username === mockup.author){ %>
		  				<div class="col s12 m6 xl4">
				  		<div class="card">
						  <div class="card-image waves-effect waves-block waves-light orange">
		  			      <img class="activator" src="<%=mockups[i].img%>">
		  			    </div>
		  			    <div class="card-content" >
		  			      <span class="card-title activator grey-text text-darken-4"><%=mockups[i].name%><i class="material-icons right">more_vert</i></span>
							  <% if(mockups[i].selected === true){ %>
								<div class="row center">
      							  <p class="red-text">Not Available</p>
      							</div>
								<div class="row center">
								  <p><a href="/designers/<%=mockups[i].id%>/show" class="waves-effect waves-light btn orange">View</a></p>
								</div>
    							  <% } else { %>
								<div class="row center">
									<p class="green-text">Available</p>
								</div>
								<div class="row center">
	    		  			      <p><a href="/designers/<%=mockups[i].id%>/show" class="waves-effect waves-light btn orange">Select</a></p>
								</div>
    						  <% } %>
		  			    </div>
		  			    <div class="card-reveal">
		  			      <span class="card-title grey-text text-darken-4"><%=mockups[i].name%><i class="material-icons right">close</i></span>
		  			      <p><%=mockups[i].description%></p>
						  <% if(mockups[i].selected === true){ %>
							<div class="row center">
							  <p class="red-text">Not Available</p>
							</div>
							<div class="row center">
							  <p><a href="/designers/<%=mockups[i].id%>/show" class="waves-effect waves-light btn orange">View</a></p>
							</div>
							  <% } else { %>
							<div class="row center">
								<p class="green-text">Available</p>
							</div>
							<div class="row center">
							  <p><a href="/designers/<%=mockups[i].id%>/show" class="waves-effect waves-light btn orange">Select</a></p>
							</div>
						  <% } %>
		  			    </div>
		  			  </div>
				  	</div>
					<% } %>
				<% } %>
				</div>
			</div>
		</main>
	<% include ./partials/footer.ejs %>
	</body>
</html>
