<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<% include ./partials/head.ejs %>
	</head>
	<body>
		<% include ./partials/nav.ejs %>
		<main>
		<div class="container">
		<div class="col s12 m7">
		  <h2 class="header light-blue-text text-lighten-1"><%=mockup.name%></h2><br>
		  <div class="card horizontal">
			<div class="card-image">
			  <img src="<%=mockup.img%>">
			</div>
			<div class="card-stacked">
			  <div class="card-content">
				<p><%=mockup.description%></p><br><br>
				<p>Designer: <%=mockup.author%></p><br>
				<div class="card-action">
				<% if(mockup.selected === true){ %>
		           <p><b>This mockup has already been selcted by a developer.</b></p>
				   <% if(mockup.built === true){ %>
					   <br><a href="<%=mockup.email%>" target="_blank" class="light-blue-text text-lighten-1">View Live Site</a><br><br>
					   <% } else { %>
					  <% } %>
		        <% } else { %>
					<%	if (currentUser.developer === true) { %>
		           <p><b>This mockup is available for use.</b></p><br>
					<a href="mailto:<%=mockup.email%>?subject=CreativeLogic%20Source%20Files" class="range-text text-lighten-3">Request Source Files</a><br><br>
					<% } %>
		        <% } %>
				<% if(currentUser.username === mockup.author){ %>
					<div class="row">
						<div class="col">
							<form action='/designers/<%=mockup.id%>?_method=DELETE' method="POST">
							<input type="submit" value="DELETE" class="waves-effect waves-light btn orange"/>
							</form>
						</div>
						<div class="col">
							<a href="/designers/<%=mockup.id%>/edit" class="waves-effect waves-light btn orange">Edit</a>
						</div>
					</div>
				<% } %>
					</div>
				</div>
			</div>
		  </div>
		</div>
		</div>
	</main>
	<% include ./partials/footer.ejs %>
	</body>
</html>
