<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<main>
		<div class="container">
		  <h2 class="header light-blue-text text-lighten-1">Outgoing Messages</h2>
		  <p><a href="/messages" class="waves-effect waves-light btn orange darken-2">View Inbox</a></p>
		  <div class="row">
			<% for(let i = 0; i < messages.length; i++){ %>
				<% if(currentUser.username === messages[i].sender){ %>
				  <div class="row">
				    <div class="col s12 m6">
				      <div class="card light-blue lighten-4">
				        <div class="card-content black-text">
				          <p class="card-title">To: <%= messages[i].recipient %></p><br>
				          <p><%= messages[i].message %></p><br>
						  <p class="card-title">From: <%= messages[i].sender %></p><br>
						  <% if(messages[i].type === "accept") { %>
  							<div class="card-action">
  					          <p>Source Files: <a href="<%=messages[i].source%>" class="light-blue-text"><%=messages[i].source%></a></p><br>
  							  <form action='/messages/sent/<%=messages[i].id%>?_method=DELETE' method="POST">
  							  <input type="submit" value="DELETE" class="waves-effect waves-light btn red">
  							  </form>
  					        </div>
  						<% } else { %>
  							<form action='/messages/sent/<%=messages[i].id%>?_method=DELETE' method="POST">
  							<input type="submit" value="DELETE" class="waves-effect waves-light btn red">
  							</form>
  						<% } %>
				        </div>
				      </div>
				    </div>
				  </div>
				<% } %>
			<% } %>
		</div>
	</main>
	<% include ../partials/footer.ejs %>
	</body>
</html>
